PORT=3000
MONGODB_URL=mongodb+srv://<password>:admin@<username>.vu49fyq.mongodb.net/
DB_NAME=dbName
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=hidden
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=hidden
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=CloudName
CLOUDINARY_API_KEY=Api_key
CLOUDINARY_API_SECRET=secret
 